/******************************************************************

Stylesheet: Main Stylesheet
File where all the imports are done

******************************************************************/

/*********************
MODULES & VARIABLES
**********************
The modules directory is reserved for Sass code that doesn't cause Sass to actually output CSS. Things like mixin declarations, functions, and variables
*********************/
// Import normalize
@import "modules/normalize";

// Import variables
@import "modules/variables";

// Import typography
@import "modules/typography";

// Import functions
@import "modules/functions";

// Import mixins
@import "modules/mixins";

/*********************
PARTIALS
**********************
This is where all the CSS is constructed. It's mobiel first so we will start from Mobile to Large viewing size
*********************/
// BASE (MOBILE) SIZE
@import "partials/base", "partials/components/header/base_header",
  "partials/components/footer/base_footer",
  "partials/components/fixed_cta/base_cta";

// LARGER MOBILE DEVICES
@media only screen and (min-width: 481px) {
  // Forms modules
  @import "partials/components/forms/481up_forms";
  // styles in 481up.scss
  @import "partials/481up", "partials/components/header/481up_header",
    "partials/components/footer/481up_footer",
    "partials/components/fixed_cta/481up_cta";
} // end of media query

// TABLET & SMALLER LAPTOPS
@media only screen and (min-width: 768px) {
  // Forms module
  @import "partials/components/forms/768up_forms";
  // styles in 768up.scss
  @import "partials/768up", "partials/components/header/768up_header",
    "partials/components/footer/768up_footer",
    "partials/components/fixed_cta/768up_cta";
} // end of media query

// DESKTOP
@media only screen and (min-width: 1030px) {
  // Forms module
  @import "partials/components/forms/1030up_forms";
  // styles in 1030up.scss
  @import "partials/1030up", "partials/components/header/1030up_header",
    "partials/components/footer/1030up_footer",
    "partials/components/fixed_cta/1030up_cta";
} // end of media query

// LARGE VIEWING SIZE
@media only screen and (min-width: 1240px) {
  // Forms module
  @import "partials/components/forms/1240up_forms";
  // styles in 1240up.scss
  @import "partials/1240up", "partials/components/header/1240up_header",
    "partials/components/footer/1240up_footer",
    "partials/components/fixed_cta/1240up_cta";
} // end of media query

// RETINA (2x RESOLUTION DEVICES)
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  // Forms module
  @import "partials/components/forms/2x_forms";
  // styles in 2x.scss
  @import "partials/2x", "partials/components/header/2x_header",
    "partials/components/footer/2x_footer",
    "partials/components/fixed_cta/2x_cta";
} // end of media query

/*********************
PRINT STYLESHEET
**********************
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {
  // styles in print.scss
  @import "partials/print";
}
