/******************************************************************

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
https://www.psd2html.com/blog/5-useful-sass-mixins.html
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/

/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes: ("-webkit-", "-moz-", "-o-", "");
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

/*********************
BORDER RADIUS
*********************/

/*
USAGE: @include border-radius(10px);
*/

@mixin border-radius($border-radius...) {
  // defining prefixes so we can use them in mixins below
  $prefixes: ("-webkit-", "-moz-", "");
  @each $prefix in $prefixes {
    #{$prefix}border-radius: $border-radius;
  }
}

/*********************
BOX SHADOW
*********************/

/*
USAGE: @include box-shadow(7px 7px 0px 0px rgba(50, 50, 50, 0.75));
*/

@mixin box-shadow($box-shadow...) {
  // defining prefixes so we can use them in mixins below
  $prefixes: ("-webkit-", "-moz-", "");
  @each $prefix in $prefixes {
    #{$prefix}box-shadow: $box-shadow;
  }
}

/*********************
CSS3 2-color GRADIENTS
*********************/

/* 
USAGE: @include background-gradient(red, black, 'vertical');
*/
@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == "vertical" {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == "horizontal" {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      $start-color,
      $end-color
    );
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

/*********************
CSS3 3-color GRADIENTS
*********************/

/* 
USAGE: @include background-gradient(red, black, green, 'vertical');
*/
@mixin background-gradient(
  $start-color,
  $middle-color,
  $end-color,
  $orientation
) {
  background: $start-color;

  @if $orientation == "vertical" {
    background: -webkit-linear-gradient(
      top,
      $start-color,
      $middle-color,
      $end-color
    );
    background: linear-gradient(
      to bottom,
      $start-color,
      $middle-color,
      $end-color
    );
  } @else if $orientation == "horizontal" {
    background: -webkit-linear-gradient(
      left,
      $start-color,
      $middle-color,
      $end-color
    );
    background: linear-gradient(
      to right,
      $start-color,
      $middle-color,
      $end-color
    );
  } @else {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      $start-color,
      $end-color
    );
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

/*********************
BOX SIZING
*********************/

/*
USAGE : @include box-sizing(border-box); 
*/
@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -ms-box-sizing: $type;
  box-sizing: $type;
}

/*********************
TRANSFORM
*********************/

/*
USAGE: @include transform(translate(250px, 0));
*/

@mixin transform($transform...) {
  // defining prefixes so we can use them in mixins below
  $prefixes: ("-webkit-", "-moz-", "-ms-", "");
  @each $prefix in $prefixes {
    #{$prefix}transform: $transform;
  }
}
